<!--dash.component.html-->
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="300px">
    <!--Mini Cards-->
    <!--<mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout | async )?.miniCard.cols"
                   [rowspan]="( cardLayout | async )?.miniCard.rows">
      <mat-card><div>Mini Card Content Here</div></mat-card>
    </mat-grid-tile>-->
    <!--Charts-->
    <!--Charts-->
    <mat-grid-tile style="overflow:auto" [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Groups</mat-card-title>
        </mat-card-header>
        <app-groups-table></app-groups-table>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Paid By You</mat-card-title>
        </mat-card-header>
        <app-credit-table></app-credit-table>
      </mat-card>
    </mat-grid-tile>
    <!--<mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <mat-card >
       
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <mat-card>
       
      </mat-card>
    </mat-grid-tile>-->
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <mat-card>
        <mat-card-header>
          <mat-card-title>People You Owe To</mat-card-title>
        </mat-card-header>
        <app-debit-outstanding-table></app-debit-outstanding-table>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
